
.room_wrapper {
    margin-top: 50px;
}

.room {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

        &_b {
            position: absolute;
            margin-bottom: 20px;
            top: 28px;
        }
        &_buttons {
            display: flex;
            justify-content: end;
            margin-bottom: 30px;
            button:first-child {
                margin-right: 20px;
            }
        }
        &_info {
            display: flex;
            flex-direction: column;
            span:first-child {
                margin-bottom: 20px;
                font-weight: 500;
                font-size: 40px;
                text-decoration: underline;
                line-height: 20px;
            }
            span {
                line-height: 30px;
            }
        }
        &_button_home {
            padding-left: 18px !important;
        }
        
        &_description{
            display: flex;
            justify-content: end;
            margin: 60px 15px 10px 15px;

            p:last-child {
                margin-left: 5px;
            }
        }
    
    &_carousel {
        div {
            width: 100%;
            img {
                max-width: 100%;
                height: auto;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
}


.checkin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.442);
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.checkin_rules {
    min-width: 500px;
    padding: 20px;
    background-color: #fff;
    opacity: 1 !important;
    z-index:20 !important;
    .checkout_leave {
        padding: 20px 0 20px 0;
    }
}
.close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px 0;
    &_button{
        cursor: pointer;
        padding: 3px;
        border: 2px solid rgba(0, 0, 0, 0);
        transition: border 0.15s ease-in-out;
        border-radius: 2px;
        &:hover {
            border: 2px solid rgb(0, 0, 0);
            border-radius: 2px;
        }
    }
}

.checkin_buttons {
    display: flex;
    justify-content: flex-end;
    button:first-child {
        margin-right: 10px;
    }
}

