.rooms_table {
    
    .tablePosition{
        margin-top: 50px;

        .filterButtons {
            margin-bottom: 10px;
            button {
                margin: 10px;
            }
        }
        .table {
            padding: 10px;
        }
    }
}
